%style
  - # Remove label from layout on mobile devices
  @media all and (max-width: 480px) { label { display:none; } }

%body{ :style => "background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;color:#444;" }

  #mail{ :style => "max-width:535px;margin:0.7em auto;" }

    %div{ :style => "padding:1.5em 2.9em 1em 2.9em;" }
      %img{ :src => "http://mallow.herokuapp.com/assets/logo.png", :width => "108px", :height => "30px", :alt => "logo" ,:style => "width:108px;margin-bottom:1.5em;" }
      %label{ :style => "float:right;font-size:15px;vertical-align:-8px;color:#ddd;border: 2px solid #eee;font-weight:400;padding: 5px 6px 6px 6px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;" } #{ @feedback.email }
      %span{ :style => "margin:0 auto;display:block;max-width:457px;border-bottom:1px solid #eee;"}

    %div{ :style => "background:#fff;padding:0 2.3em 0em 2.3em;font-size:17px;font-weight:300;color:#444;" }

      %p= @feedback.note

    %div{ :style => "background:#fff;padding:0 2.3em 0em 2.3em;font-size:17px;font-weight:300;color:#444;" }
      %a{ :href => "https://github.com/hopkinschris/mallow/issues/new", :style => "font-weight:300;text-decoration:none;color:#0881b3;border-bottom:1px solid;" } Make this a Github issue
