%body{ :style => "background:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;color:#444;" }

  #mail{ :style => "background:#6cd4ff;max-width:535px;margin:0.7em auto;border:1px solid #eaeef1;" }

    %header{ :style => "padding:5em;text-align:center" }
      %img{ :src => "http://mallowapp.herokuapp.com/assets/logo.png", :alt => "logo" ,:style => "width:100px;" }

    %section{ :style => "background:#fff;padding:2.5em 3.5em 0.3em 3.5em;font-weight:300;color:#444;" }
      %p 
        From:
        %strong= @feedback.email
      %p= @feedback.note

    %footer{ :style => "background:#fff;padding:0.2em 3.5em 3.3em 3.5em;font-weight:300;color:#444;" }
      %a{ :href => "https://github.com/hopkinschris/mallowapp/issues/new" } Make this a Github issue.
