- flash.each do |key, value|
  %div{ :class => flash_class(key) }
    = value

- content_for :javascripts do
  :javascript
    $(function() {
      setTimeout((function(){
        $("div.flash").animate({
          opacity: 0,
          height: 0,
          paddingTop: 0,
          paddingBottom: 0,
          margin: 0
        });
      }), 4e3);
    });
